:root {
    --v: calc((1vw + 1vh) / 2)
}

* {
    padding: 0;
    margin: 0;
}

h1 {
    display: grid;
    width: 100vw;
    font-size: calc(3 * var(--v));
    height: 10vh;
    text-align: center;
    place-items: center;
}

h2 {
    padding-block: var(--v);
}

input:focus,
button:focus,
select:focus {
    outline: none;
}

button {
    cursor: pointer;
}

.content {
    display: flex;
    flex-grow: 1;
    height: 95vh;
    justify-content: space-evenly;
}

.properties {
    border: 1px solid white;
    background-color: rgb(48, 48, 48);
    padding-inline: calc(2 * var(--v));
    border-radius: var(--v);
    height: 85vh;
    width: 17vw;
}

.property-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.property-list {
    min-height: 20vh;
}

.empty {
    display: block;
}

.empty:has(+div[visible="true"]) {
    display: none;
}

.property-list>* {
    padding-bottom: calc(0.7 * var(--v));
}

.add-btn {
    display: grid;
    place-content: center;
    width: calc(3.5 * var(--v));
    height: calc(3.5 * var(--v));
    border-radius: var(--v);
    border: 1px solid white;
    transition: .3s;
}

.add-btn:hover {
    border-color: cyan;
}

.property input,
.property select {
    border: none;
    border-bottom: 1px solid white;
    width: 2.3rem;
}

main {
    position: relative;
}

.mode {
    position: absolute;
    top: calc(var(--v));
    left: calc(var(--v));
    padding: calc(.5 * var(--v));
}

canvas {
    border-radius: var(--v);
}